<section class="h-full flex flex-col">
  <header class="mb-3">
    <h2 class="font-bold text-2xl text-[var(--mat-sys-on-surface)]">Review Your Order Before Delivery</h2>
    <p class="text-sm text-[var(--mat-sys-on-surface)] opacity-70">
      Please check your order details before proceeding to the delivery information.
    </p>
  </header>

    <ng-container *ngFor="let product of (cartProducts$ | async)">
      <div class="flex items-center gap-3">
        <img [src]="product.image.thumbnail" [alt]="product.name" class="max-w-14 w-full rounded-lg" />

        <div class="space-y-1">
          <p class="font-bold">{{ product.name }}</p>
          <p class="text-red font-bold">
            <span class="text-sm mr-3 text-primary ">{{ product.quantity }}x</span>
            <span class="text-xs mr-1 text-[var(--mat-sys-on-surface)] opacity-60">&#64;</span>
            <span class="text-sm text-[var(--mat-sys-on-surface)] opacity-60">{{ product.price | currency }}</span>
          </p>
        </div>

        <p class="ms-auto font-bold">{{ product.price * product.quantity | currency }}</p>
      </div>

      <app-separator />
    </ng-container>

    <section class="flex justify-between items-center">
      <p>Total</p>
      <p class="text-xl font-bold text-[var(--mat-sys-on-surface)]">{{ getTotal() | currency }}</p>
    </section>

    <div class="mt-auto">
      <ng-content class="mt-auto" select="[actions]">

      </ng-content>

    </div>



</section>
