<div class="p-8 h-full flex flex-col">
  <app-order-review class="h-full" *ngIf="stage == 0" (onNext)="handleOrderReview()"></app-order-review>

  <app-address-form *ngIf="stage == 1" (onContinue)="handleAddressFormSubmit($event)"></app-address-form>

  <app-payment-form class="h-full" *ngIf="stage == 2" [clientSecret]="clientSecret"
    (onContinue)="handlePaymentFormSubmit()"></app-payment-form>
</div>




<!-- <ng-template let-snackBarRef="snackBarRef" #templateSnackBar>
  <span class="example-pizza-party">
    Pizza party!!!
  </span>
  <span>
    <button mat-button matSnackBarAction (click)="snackBarRef.dismissWithAction()">🍕</button>
  </span>

</ng-template> -->
