<mat-dialog-content class="flex-1 p-8 space-y-4">

  <mat-stepper #stepper [linear]="true" [selectedIndex]="stage" (selectionChange)="stage = $event.selectedIndex">
    <mat-step label="Review" state="review">
      <app-order-review class="h-full">
        <ng-content actions>
          <div class="flex">
            <button mat-flat-button class="ms-auto mb-2 mt-auto" (click)="handleOrderReview()">
              <span>Continue</span>
            </button>

          </div>
        </ng-content>
      </app-order-review>
    </mat-step>

    <mat-step label="Confirm" state="confirm" [stepControl]="addressForm">
      <app-confirm-order [form]="addressForm">
        <ng-content actions>
          <div class="flex">
            <button mat-flat-button class="mb-2 mt-auto" (click)="back()" type="button">
              <span>Back</span>
            </button>

            <button mat-flat-button class="ms-auto mb-2 mt-auto" (click)="handleConfirmOrderSubmit()">
              <span>Confirm order</span>
            </button>

          </div>
        </ng-content>
      </app-confirm-order>
    </mat-step>

    <mat-step label="Pay" state="pay" [stepControl]="paymentElementForm">
      <app-payment-form class="h-full" [clientSecret]="clientSecret"
        (onContinue)="handlePaymentFormSubmit()"></app-payment-form>
    </mat-step>

    <!-- Ícones personalizados -->
    <ng-template matStepperIcon="review">
      <mat-icon>playlist_add_check</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="confirm">
      <mat-icon>call_end</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="pay">
      <mat-icon>forum</mat-icon>
    </ng-template>

    <!-- Ícone de etapa concluída customizado -->
    <ng-template matStepperIcon="done">
      <mat-icon class="text-green-500">check_circle</mat-icon>
    </ng-template>

    <ng-template matStepperIcon="create">
      <mat-icon class="text-blue-500">check_circle</mat-icon>
    </ng-template>
  </mat-stepper>
</mat-dialog-content>
