@use '@angular/material' as mat;
@use 'stylesm3-theme.scss';

@include mat.core();


html {
  @include mat.core-theme(stylesm3-theme.$light-theme);
  @include mat.button-theme(stylesm3-theme.$light-theme);
}

.text-primary {
  color: mat.get-theme-color(stylesm3-theme.$light-theme, primary, 50);
}

.text-error {
  color: mat.get-theme-color(stylesm3-theme.$light-theme, error, 50);
}

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body { height: 100%;}

  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }

  ::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

// $light-theme-primary-pallete: (
//   50: #e8eaf6,
//   100: #c5cae9,
//   200: #9fa8da,
//   300: #7986cb,
//   400: #5c6bc0,
//   500: #3f51b5,
//   600: #394aae,
//   700: #3140a5,
//   800: #29379d,
//   900: #1a237e,
//   contrast: (
//     50: #000,
//     100: #000,
//     200: #000,
//     300: #fff,
//     400: #fff,
//     500: #fff,
//     600: #fff,
//     700: #fff,
//     800: #fff,
//   )
// );

// $light-theme-typography: mat.m2-define-typography-config(
//   $font-family: 'Red Hat Text, sans-serif'
// );

// $light-theme-primary: mat.m2-define-palette($light-theme-primary-pallete);
// $light-theme-accent: mat.m2-define-palette(mat.$m2-pink-palette, A200, A100, A400);
// $light-theme-warn: mat.m2-define-palette(mat.$m2-red-palette);

// $light-theme: mat.m2-define-light-theme((
//   color: (
//     primary: $light-theme-primary,
//     accent: $light-theme-accent,
//     warn: $light-theme-warn
//   ),
//   typography: $light-theme-typography
// ));


// body.dark-theme {
//   // @include mat.all-component-themes(mat.$m2-dark-theme);
// }

// @include mat.all-component-themes($light-theme);



