.button-multi-actions {
  color: var(--mdc-filled-button-label-text-color, var(--mat-sys-on-primary));
  background-color: var(--mdc-filled-button-container-color, var(--mat-sys-primary));

  transition: box-shadow 280mscubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: var(--mdc-protected-button-container-elevation-shadow, var(--mat-sys-level1));
  height: var(--mdc-protected-button-container-height, 40px);
  font-family: var(--mdc-protected-button-label-text-font, var(--mat-sys-label-large-font));
  font-size: var(--mdc-protected-button-label-text-size, var(--mat-sys-label-large-size));
  letter-spacing: var(--mdc-protected-button-label-text-tracking, var(--mat-sys-label-large-tracking));
  text-transform: var(--mdc-protected-button-label-text-transform);
  font-weight: var(--mdc-protected-button-label-text-weight, var(--mat-sys-label-large-weight));
  padding: 0 var(--mat-protected-button-horizontal-padding, 24px);


  user-select: none;
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  border-radius: var(--mdc-protected-button-container-shape, var(--mat-sys-corner-full));
}

