<div [formGroup]="paymentElementForm" class="h-full flex flex-col">
  <ngx-stripe-elements *ngIf="elementsOptions.clientSecret" [stripe]="stripe" [elementsOptions]="elementsOptions">
    <ngx-stripe-payment/>
  </ngx-stripe-elements>

  <button mat-flat-button class="w-full mt-auto" (click)="pay()" [disabled]="paying()">
    <div class="flex">

      <span *ngIf="paying(); else defaultLabel">Paying...</span>
      <ng-template #defaultLabel>
        Pay
      </ng-template>

      <mat-progress-spinner *ngIf="paying()" mode="indeterminate" diameter="20"></mat-progress-spinner>
    </div>
  </button>
</div>
